langchain
langgraph
langchain-core
langchain-google-genai
langchain-community
langchain-text-splitters
tiktoken
pypdf
python-dotenv
lxml
html2text
youtube-transcript-api
pytube
yt_dlp==2024.10.22
streamlit
python-magic
unstructured
unstructured[pdf]
python-pptx
docx2txt
moviepy
wikipedia
pypandoc
reportlab
markdown2
youtube_search
pydantic
static-ffmpeg
ffmpeg-python