body {{
    background-image: url("data:image/png;base64,{background}");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    }}

p {{
color: black;
font-family: "Google Sans",Roboto,Arial,sans-serif;
font-size: 20px;

}}

.center {{
    text-align: center;
}}

table {{
    margin: auto;
    border-collapse: collapse;
    width: 100%;
    max-width: 500px;
    margin-bottom: 20px;
}}

th, td {{
    border: 1px solid #000;
    padding: 4px;
    text-align: center;
    word-wrap: break-word;
}}

@media (max-width: 600px) {{
    table {{
        width: 100%;
    }}
    th, td {{
        font-size: 7px;
        padding: 6px;
    }}
}}

header[data-testid = "stHeader"]{{background: rgba(255,255,255,0);}}
button[data-testid = "baseButton-secondary"]{{width: 100%;}}
div[data-testid = "stButton"] > button > div > p {{color: white; font-size: 15px;}}
div[data-testid = "stApp"]{{background: None; color: black;}}
div[class^="stFileUploaderFileData"] > small{{background: None; color: black;}}
div[class^="stFileUploaderFile"] > div {{background: None; color: black;}}
div[data-testid="stFileUploaderPagination"] > small {{background: None; color: black;}}
div[data-testid="stFileUploaderPagination"] > div {{background: None; color: black;}}
div[data-testid="stTabs"]{{padding: 20px; border-radius: 2rem; background: rgba(255,255,255,0.7);}}
div[data-testid = "stMarkdownContainer"] > p {{color: black; font-size: 15px; font-weight: bold;}}
div[data-baseweb="tooltip"] >  div {{background: rgba(255,255,255,0.7); color: black;}}
button[kind=secondary]{{background: rgba(0,0,255,0.7); color: white;}}
div[data-testid = "stButton"] div > div > div > button {{background: rgba(0,255,0,0.3); color: white;}}
div[data-testid="stNumberInputContainer"] > div:nth-of-type(2) {{display: none;}}

[class^="st-emotion-cache-"] .stTooltipHoverTarget > svg {{
    stroke: black;
}}
